<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='sign-in.css') }}" rel="stylesheet">
    <title>Secret Screen</title>
</head>
<body>
    <h1>Secret Screen !</h1>
    <p>You will stay here until you logout</p>

    <form action="/logout" method="POST">
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Log Out">Log Out</button>
    </form>
</body>
</html>